.title {
    font-size: large;
    margin: 1em;
    text-align: center;
}

body {
        color: darkslateblue;

}

input,label {
    text-align: right;
    margin:5px;
}

select {
    text-align: left;
    margin:5px;
}

input[disabled=disabled] {
    color: #aaaaaa;
}

form {
    width: 50%;
}

label {
    display: inline-block;
    width: 25%;
    color: darkslateblue;
}

.row {
    width: 100%;
}

.frame {
    margin: 5px;
    border: solid 1px;
    border-color: grey;
    border-radius: 5px;
}
