.title {
    font-size: large;
    margin: 1em;
    text-align: center;
}

body {
        color: darkslateblue;

}

input,select,label {
    text-align: right;
    margin:5px;
}

form {
    width: 50%;
}

label {
    display: inline-block;
    width: 15%;
    color: darkslateblue;
}

.row {
    width: 100%;
}

.frame {
    margin: 5px;
    border: solid 1px;
    border-color: grey;
    border-radius: 5px;
}
